<div class="nav-bar">
  <div >
    <img
      style="height: 75px; width: 75px ; cursor: pointer;"
      class="nav-logo"
      src="../../assets/img/logoAdvaya.png"
      alt="Advaya Logo"
      routerLink="/"

    />
  </div>

  <ul
    class="nav-list"
    type="none"
    style="margin: 0 !important; align-self: center"
  >
    <!-- <li (click)="redirectToHome()">HOME</li>
    <li (click)="know()"  style="margin-left: 30px">KNOW US</li>
    <li  (click)="products()" style="margin-left: 30px">PRODUCTS</li>
    <li (click)="contact()" style="margin: 0px 30px">CONTACT US</li>
  </ul> -->
  <li (click)="redirectToHome()" [ngClass]="{ 'active': currentRoute === '/' }">HOME</li>
  <li (click)="know()" [ngClass]="{ 'active': currentRoute === '/know-us' }" style="margin-left: 30px">KNOW US</li>
  <li (click)="products()" [ngClass]="{ 'active': currentRoute === '/products' }" style="margin-left: 30px">PRODUCTS</li>
  <li (click)="contact()" [ngClass]="{ 'active': currentRoute === '/contactus' }" style="margin: 0px 30px">CONTACT US</li>
</ul>
</div>

<div class="hide">
  <nav>
    <ul class="sidebar">
      <li (click)="hideSidebar()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="26"
          viewBox="0 96 960 960"
          width="26"
          style="color: aliceblue"
        >
          <path
            stroke="white"
            fill="white"
            d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
          />
        </svg>
      </li>
      <li><a (click)="redirectToHome()">HOME</a></li>
      <li><a (click)="know()"  routerLink="">KNOW US</a></li>
      <li><a (click)="products()" routerLink="">PRODUCTS</a></li>
      <li><a (click)="contact()" routerLink="">CONTACT US</a></li>
    </ul>
  </nav>
  <div class="menu-bar">
    <div class="menu-button" (click)="showSidebar()" type="none">
      <svg
        style="padding: 5px; margin-left: -35px;"
        xmlns="http://www.w3.org/2000/svg"
        height="26"
        viewBox="0 96 960 960"
        width="26"
      >
        <path
          d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
        />
      </svg>
    </div>
    <div>
      <img
        height="50px"
        width="50px"
        src="../../assets/img/logoAdvaya.png"
        alt="brandlogo"
        routerLink="/"
        style="cursor: pointer;"
      />
    </div>
  </div>
</div>
