<div style="width: 100%; background-color: #f2f2f2 ;">
  <div
    class="row"
    style="
      width: 100%;
      
      padding-left: 10px;
      margin-top: 10px;
      padding-top: 20px;
      height: 300px;
    "
  >
    <div class="col-md-5">
     
      <div class="widget widget-about mb-4">
        <img
          id="logo_lang_footer"
          routerLink="/"
          src="../../assets/img/logoAdvaya.png"
          alt="logo"
          class="footer-logo"
          alt="Footer Logo"
          width="15%"
          height="25"
          style="cursor: pointer; margin-bottom: 10px"
        />

        <p class="about">
          SURYASOUNDARYA PRAKASHANA PVT LTD is simplifying, revolutionizing,
          redefining the content and preparation for civil service exams through
          its products Spardha Arivu(Kannada), Competitive Awareness and
          Review(English) magazines and through its other publications.
        </p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="widget mb-3">
        <h6 class="widget-title text-black" style="font-weight: 600 !important">
          QUICK LINKS
        </h6>

        <ul class="widget-list">
          <li>
            <a
              routerLink="/about"
              style="font-size: small; color: black; margin-top: 15px"
              >Who we are</a
            >
          </li>

          <li>
            <a
              routerLink="/"
              style="font-size: small; color: black; margin-top: 15px"
              >FAQs</a
            >
          </li>
          <li>
            <a
              routerLink="contact"
              style="font-size: small; color: black; margin-top: 15px"
              >Contact us</a
            >
          </li>
          <li>
            <a
              routerLink="payment-policy"
              style="font-size: small; color: black; margin-top: 15px"
              >Payment & Refund Policy</a
            >
          </li>
          <li>
            <a
              routerLink="shipping-policy"
              style="font-size: small; color: black; margin-top: 15px"
              >Shipping Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <h1>QUICK LINKS</h1>
      <ul class="quickLinks">
        <li (click)="know()">Who we are</li>
        <li (click)="contact()">FAQs</li>
        <li (click)="contact()"  >Contact us</li>
        <li>Payment & Refund Policy</li>
        <li>Shipping</li>
      </ul>
    </div> -->
    <!-- <div class="col social-media">
      <h1>SOCIAL MEDIA</h1>
      <ul>
        <li>Facebook</li>
        <li>Youtube</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </div> -->
    <!-- <div class="col social-media">
      <h1> SOCIAL MEDIA</h1>
      <ul style="font-size: 16px;">
        <li ><i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i><a href="#">Facebook</a></li>
        <li ><i class="fab fa-youtube fa-2x" style="color: #ed302f;"></i> <a href="#">  Youtube</a></li>
        <li ><i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i> <a href="#">  Instagram</a> </li>
        <li ><i class="fab fa-twitter fa-2x" style="color: #55acee;"></i> <a href="#">  Twitter</a></li>
        
      </ul>
    </div> -->

    <div class="col-md-2">
      <h6 class="widget-title text-black" style="font-weight: 600 !important">
        SOCIAL MEDIA
      </h6>
      <ul class="widget-list">
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100086759078155"
            target="_blank"
            class="social-icon social-facebook"
          >
            <i class="fab fa-facebook-f" style="color: rgb(0, 0, 255)"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            class="social-icon social-youtube"
          >
            <i class="fab fa-youtube" style="color: red"></i>
            <span>Youtube</span>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            class="social-icon social-instagram"
          >
            <i class="fab fa-instagram" style="color: #ac2bac"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            class="social-icon social-twitter"
          >
            <i class="fab fa-twitter" style="color: #73c6ec"></i>
            <span>Twitter</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <h6 class="widget-title text-black" style="font-weight: 600 !important">
        CONTACT US
      </h6>
      <span style="font-size: smaller; margin-top: 20px">
        8/18 1st Main, Income tax Layout Vijayanagara, Behind Attiguppe,
        Bengaluru - 560040
        <br />
        Mobile: +91 9008496009
        <br />
        Email: contact&#64;spardhaarivu.in
      </span>
    </div>
  </div>

  <hr />
  <div class="footer">
    <div>
      <p style="font-size: small">
        Copyright © 2024 Advaya . All Rights Reserved.
        <span style="font-weight: bolder"
          ><strong> Terms Of Use| Privacy Policy</strong></span
        >
      </p>
    </div>
    <div>
      <p style="font-size: small">
        Design and Developed by
        <span>
          <a
            href="https://greenbots.in/"
            target="_blank"
            style="font-weight: bolder; font-size: small"
            class="company"
            ><strong> Greenbots Software </strong>
          </a>
        </span>
      </p>
    </div>
  </div>
</div>
kisnjcnchuecjekc