<div style="width: 100%; background-color: #f2f2f2;">
  <div class="row" style="width: 100%; padding-left: 10px; margin-top: 10px; padding-top: 20px;">
    <div class="col-md-5 col-sm-12">
      <div class="widget widget-about mb-4">
        <img id="logo_lang_footer" routerLink="/" src="../../assets/img/logoAdvaya.png" alt="logo" class="footer-logo" alt="Footer Logo" width="15%" height="25" style="cursor: pointer; margin-bottom: 10px" />
        <p class="about">
          SURYASOUNDARYA PRAKASHANA PVT LTD is simplifying, revolutionizing, redefining the content and preparation for civil service exams through its products Spardha Arivu(Kannada), Competitive Awareness and Review(English) magazines and through its other publications.
        </p>
      </div>
    </div>

    <div class="col-md-2 col-sm-4">
      <div class="widget mb-3">
        <h6 class="widget-title text-black" style="font-weight: 600 !important">QUICK LINKS</h6>
        <ul class="widget-list">
          <li><a routerLink="know-us" style="font-size: small; color: black; margin-top: 15px">Who we are</a></li>
          <li><a routerLink="/" style="font-size: small; color: black; margin-top: 15px">FAQs</a></li>
          <li><a routerLink="contactus" style="font-size: small; color: black; margin-top: 15px">Contact us</a></li>
          
        </ul>
      </div>
    </div>

    <div class="col-md-2 col-sm-4">
      <h6 class="widget-title text-black" style="font-weight: 600 !important">SOCIAL MEDIA</h6>
      <ul class="widget-list">
        <li>
          <a href="https://www.facebook.com/profile.php?id=100086759078155" target="_blank" class="social-icon social-facebook">
            <i class="fab fa-facebook-f" style="color: rgb(0, 0, 255)"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="social-icon social-youtube">
            <i class="fab fa-youtube" style="color: red"></i>
            <span>Youtube</span>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="social-icon social-instagram">
            <i class="fab fa-instagram" style="color: #ac2bac"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="" target="_blank" class="social-icon social-twitter">
            <i class="fab fa-twitter" style="color: #73c6ec"></i>
            <span>Twitter</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-3 col-sm-4">
      <h6 class="widget-title text-black" style="font-weight: 600 !important">CONTACT US</h6>
      <span style="font-size: smaller; margin-top: 20px">
        8/18 1st Main, Income tax Layout Vijayanagara, Behind Attiguppe, Bengaluru - 560040
        <br />
        Mobile: +91 9008496009
        <br />
        Email: contact&#64;spardhaarivu.in
      </span>
    </div>
  </div>
  <hr />
  <div class="companyContainer" style="width: 100%; padding:0 10px;" >
    <div class="row" >
      <div class=" col-md-6 col-sm-12 mb-3 mb-md-0">
        <p style="font-size: small">
          Copyright © 2024 Advaya . All Rights Reserved.
          <span style="font-weight: bolder"><strong> Terms Of Use| Privacy Policy</strong></span>
        </p>
      </div>
      <div class="  col-md-6 col-sm-12">
        <p style="font-size: small" class="developed_by">
          Design and Developed by
          <span>
            <a href="https://greenbots.in/" target="_blank" style="font-weight: bolder; font-size: small" class="company"><strong> Greenbots Software </strong></a>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

