/* Base styles */


.root{
  width: 100%;

}
/* .container {
  width: 1000%;
  padding: 20px;
  background-color: #f2f2f2;

} */

/* .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

/* .col {
  flex: 1;
  min-width: 200px; Ensures columns do not get too narrow 
  box-sizing: border-box;
} */

img {
  max-width: 100%;
  height: auto;
}

/* .social-media {
  width: 308px;
  font-size: 12px;
} */




.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
.company:hover{
color: rgb(78, 180, 239);
}

.quickLinks>li{
  cursor: pointer;
}
/* a {
  color: black ;
  text-decoration: none;
  font-size: 17px;
} */

.social-media {
  padding: 20px;
}
.widget-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.widget-list li {
  margin-bottom: 10px;
}
.social-icon {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.social-icon i {
  font-size: 1em;
}
.social-icon span {
  color: black;
  margin-left: 10px;
  font-size: small;
}

.social [class*="fa fa-"] {
  background-color: #333;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.fa-twitter:hover { 
  background-color: #46c0fb; 
}

.social-icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.social-icon {
  font-size: 1.3rem;
}
.company_copyrights{
  display: flex; justify-content: space-between; 
}

.about{
  padding-right: 20%;
  font-size: 12px;
  line-height: 1.5rem;
  color: #848484;
}

/* Media query for mobile devices (300px to 600px) */
@media screen and (min-width: 300px) and (max-width: 600px) {




}


/* Media query for desktop view (600px to 2550px) */
@media screen and (min-width: 600px) and (max-width: 2550px) {
.developed_by{
  display: flex;
    justify-content: flex-end;
}
}