<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="https://spardhaarivu.in/assets/images/home/home-logo.png"
        alt="logo"
      />
      <p>
        SURYASOUNDARYA PRAKASHANA PVT LTD is simplifying, revolutionizing,
        redefining the content and preparation for civil service exams through
        its products Spardha Arivu(Kannada), Competitive Awareness and
        Review(English) magazines and through its other publications
      </p>
    </div>
    <div class="col">
      <h1>QUICK LINKS</h1>
      <ul>
        <li>Who we are</li>
        <li>FAQs</li>
        <li>Contact us</li>
        <li>Payment & Refund Policy</li>
        <li>Shipping</li>
      </ul>
    </div>
    <div class="col social-media">
      <h1>SOCIAL MEDIA</h1>
      <ul>
        <li>Facebook</li>
        <li>Youtube</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Telegram</li>
      </ul>
    </div>
    <!-- <div class="col social-media">
      <h1>SOCIAL MEDIA</h1>
      <ul style="font-size: 16px">
        <li class="fa fa-facebook" style="color: rgb(115, 115, 245)">
          <a href="#"> Facebook</a>
        </li>
        <br />
        <li class="fa fa-youtube" style="color: rgb(215, 83, 83)">
          <a href="#"> Youtube</a>
        </li>
        <br />
        <li class="fa fa-instagram" style="color: rgb(196, 95, 111)">
          <a href="#"> Instagram</a>
        </li>
        <br />
        <li class="fa fa-twitter" style="color: blue">
          <a href="#"> Twitter</a>
        </li>
      </ul>
    </div> -->
    <div class="col">
      <h1>CONTACT US</h1>
      <span>
        8/18 1st Main, Income tax Layout Vijayanagara, Behind Attiguppe,
        Bengaluru - 560040
        <br />
        Mobile: +91 9008496009
        <br />
        Email: contact&#64;spardhaarivu.in
      </span>
    </div>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1944.09649738933!2d77.530027!3d12.959499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d84695fd633%3A0x43edc9ca44eba09e!2sSpardha%20Arivu!5e0!3m2!1sen!2sin!4v1714909312954!5m2!1sen!2sin"
      width="1350"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <p>Version 2.0</p>
  <hr />
  <div class="footer">
    <div>
      <p>
        Copyright © 2024 Sparadha Arivu. All Rights Reserved.
        <span>Terms Of Use| Privacy Policy</span>
      </p>
    </div>
    <div>
      <p>
        Design and Developed by
        <span>
          <a href="https://greenbots.in/" target="_blank">Greenbots Software</a>
        </span>
      </p>
    </div>
  </div>
</div>
