<br />
<div >
<div class="breadcrumb">
  <ol class="breadcrumb-items">
    <li class="breadcrumb-item1" [routerLink]="['/']">Home</li>
    <li>&#62;</li>
    <li class="breadcrumb-item2">Contact Us</li>
  </ol>
</div>

<!-- <div style="width: 100%; margin-bottom: 100px;" class="main">
  <div style="margin-top: 20px">
    <div class="banner-details">
      <h1 class="heading1">
        <span>CONTACT</span> <span style="color: #f96e44"> US</span>
      </h1>
      <h2 class="heading2">Get in touch</h2>
      <p>
        Want to contact us? We'd love to hear from you. Here's how you can reach
        us. Just send us yours question or concerns and we will connect you
        soon!
      </p>
    </div>
    <div class="banner" >
      <img
        style="width: 100%; height: 364px"
        src="https://www.cloud4c.com/lat/sites/lat/files/2022-07/cloud4c-company-contact-1Desktop.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="form-container">

    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="formbox"
      action="#"
      style="width: 556px"
    >
      <div class="mb-3" class="name" style="width: 100%;">
        <input
          id="name"
          formControlName="name"
          placeholder="Name *"
          (keydown)="onNameInput($event)"
          type="text"
        />
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <div
            style="color: red; margin-left: 15px"
            *ngIf="name?.errors?.['required']"
          >
            Required
          </div>
        </div>
      </div>

      <div class="mb-3" class="Email">
        <input id="email" formControlName="email" placeholder="Email *" />
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <div
            style="color: red; margin-left: 15px"
            *ngIf="email?.errors?.['required']"
          >
            Required
          </div>
          <div
            style="color: red; margin-left: 15px"
            *ngIf="email?.errors?.['email']"
          >
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="mb-3" class="PhoneNumber">
        <input
          maxlength="10"
          id="PhoneNumber"
          formControlName="PhoneNumber"
          placeholder="PhoneNumber *"
          (keydown)="onPhoneNumberInput($event)"
        />
        <div
          *ngIf="
            PhoneNumber?.invalid && (PhoneNumber?.dirty || PhoneNumber?.touched)
          "
        >
          <div
            style="color: red; margin-left: 15px"
            *ngIf="PhoneNumber?.errors?.['required']"
          >
            Required
          </div>
          <div
            style="color: red; margin-left: 15px"
            *ngIf="PhoneNumber?.errors?.['minlength']"
          >
            phone number should be 10 numbers
          </div>
          <div
            style="color: red; margin-left: 15px"
            *ngIf="PhoneNumber?.errors?.['numeric']"
          >
            invalid Phone Number format
          </div>
        </div>
      </div>

      <div class="mb-3" class="message">
        <textarea
          style="padding-left: 15px"
          id="message"
          formControlName="message"
          placeholder="How Can I Help You?"
          maxlength="250"
        ></textarea>
        <div *ngIf="message?.invalid && (message?.dirty || message?.touched)">
          <div
            style="color: red; margin-left: 15px"
            *ngIf="message?.errors?.['required']"
          >
            Required
          </div>
          <div
            style="color: red; margin-left: 15px"
            *ngIf="message?.errors?.['minlength']"
          >
            Message must be at least 10 characters long.
          </div>
        </div>
      </div>

      <div>
        <button class="button" type="submit" style="border: none !important;">Submit</button>
      </div>
    </form>

  </div>
</div> -->


<div class="banner-details">
  <div class="container">
      <div class="contact">
          <h1>CONTACT <span>US</span></h1>
          <h2>Get in touch</h2>
          <p>
              Want to contact us? We'd love to hear from you. Here's how you can reach us. Just send us your
              question or concerns and we will connect you soon!
          </p>
      </div>
  </div>
</div>

<div class="banner">
  <div class="container">
      <form id="contactForm" method="post" onsubmit="submitForm(); return false;">
          <div class="mb-3">
              <input class="form-control name" name="name" id="name" type="text" placeholder="Name *" value=""
                  required />
              <input type="hidden" name="access_key" value="b2ff3560-a14d-49ef-b734-5dfabe9948ae" />
          </div>

          <div class="mb-3">
              <input class="form-control email" name="email" id="emailAddress" type="email"
                  placeholder="Email Address *" value="" required />
          </div>

          <div class="mb-3">
              <input class="form-control phno" name="phone" id="phoneNumber" maxlength="10"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)" type="text"
                  placeholder="Phone number" value="" />
          </div>

          <div class="mb-3">
              <textarea class="form-control message" name="message" id="message" type="text"
                  placeholder="How can we help you? *" style="height: 10rem" required></textarea>
          </div>

          <div class="d-grid">
              <button class="btn btn-primary btn-lg contact-submit" type="submit">
                  Submit
              </button>
          </div>
          <div id="result"></div>
      </form>
  </div>
</div>









<div class="fluid-container">
  <div class="row"  >
    <div class="col-sm " >
      <div class="details" style="margin: 20px; margin-right: 0px !important;">
      <div style="display: flex">
        <div>
          <img
            class="contact-icon"
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <h5>Email</h5>
          <p [innerHTML]="'sales@readzle.com'"></p>
        </div>
      </div>
      </div>
      
    </div>

    <div class="col-sm " >
      <div class="details" style="margin: 20px; margin-right: 0px !important;">
      <div style="display: flex">
        <div>
          <img
            class="contact-icon"
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <h5>Phone number</h5>
          <p>+91 9880108794</p>
        </div>
      </div>
    </div>
    </div>

    <div class="col-sm " >
      <div class="details super" style="margin: 20px;" >
      <div class="" style="display: flex">
        <div>
          <img
            class="contact-icon"
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <h5>Address</h5>
          <p>
          Address Unleash Tech Worx Pvt Ltd 
         Kanakapura Road, Bangalore 560062
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="map">
  <iframe
    width="100%"
    height="600"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Unleash%20Tech%20Worx%20Pvt%20Ltd%20Spacexworks%20Business%20Services,%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Unit3F,%20Level3,%20Century%20Central,%20Kanakapura%20Road,%20Bangalore%20%20560062+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
  ></iframe>
</div>

<div class="faq">
  <div class="container">
    <h1>FAQs</h1>
    <h3>Frequently asked questions</h3>
    <div class="main-accordion">
      <button class="accordion" (click)="toggle($event)">
        Is there a free trial available?
      </button>
      <div class="panel">
        <p>
          It is free for all, anyone can download and register themselves. Since
          it is a Peer to peer platform, you can utilise the book sharing
          feature only when you and others in your neighbourhood are sharing
          your books. Otherwise you can use this app to set your reading goals,
          list your books and login daily readings.
        </p>
      </div>
      <button class="accordion" (click)="toggle($event)">
        How do I add books to share with others?
      </button>
      <div class="panel">
        <p>
          You need to click the + button on the bottom right of the app. You
          will be directed to enter the ISBN code of your book. This is usually
          on the back cover page. It is usually a 10 or 13 digit number.
        </p>
      </div>
      <button class="accordion" (click)="toggle($event)">
        How do I borrow a book from others?
      </button>
      <div class="panel">
        <p>
          You need to click on ‘Go to Library” link to see all the books
          available in the neighbourhood. You can chose the book you would like
          to read and hit the borrow button to borrow. You should choose to
          either accept the borrow request and share the book with the
          respective user or reject. Once you accept, please notify the user
          when to pick the book from you and ask him to receive the book the app
          once he has received it from you.
        </p>
      </div>
      <button class="accordion" (click)="toggle($event)">
        How do I check in my reading?
      </button>
      <div class="panel">
        <p>
          You need to hit “start reading” button and select the book you would
          like to read. This starts a 30mins countdown and automatically reminds
          you after 30 What should I do when I receive a borrow request from a
          user? mins to stop reading or continue. This is usually in packets of
          30 mins. A min of 30 mins of reading is suggested as per research.
        </p>
      </div>
      <button class="accordion" (click)="toggle($event)">
        What brain rewiring?
      </button>
      <div class="panel">
        <p>
          As you start reading books for 30 mins a day (at least), your brain
          start to get trained on focus thinking and improve your attention
          span. The brain rewiring help you understand how this is working on
          you as you continue reading book. But make sure that you are using the
          countdown clock to ensure that app understands that you are reading.
        </p>
      </div>
    </div>
  </div>
  <div class="stil">
    <div class="container">
      <img src="https://readzle.com/images/Group%2024031.png" alt="" />
      <h1>Still have questions?</h1>
      <p>Can't find the answer you are looking for? Please write to us</p>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#askQstn"
        (click)="open(content)"
      >
        GET IN TOUCH
      </button>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->



<ng-template #content let-modal>
  <div class="modal-header">
    <h1
      class="modal-title"
      id="modal-basic-title"
      style="
        font-size: 30px;
        font-weight: normal;
        font-family: sans-serif;
        color: #000000;
      "
    >
      Ask your question
    </h1>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
  </div>
  <div class="modal-body">
    <form
    [formGroup]="questionForm" 
    (ngSubmit)="onSubmitQn()"
      class=""
      id="questionForm"
     
    >
      <div class="mb-3 col-12">
        <textarea
          class="form-control"
          id="askQstnTextarea1"
          rows="3"
          name="question"
          placeholder="Write your question here *"
          value=""
          formControlName="question" 
          required
        ></textarea>
      </div>
      <div class="mb-3 col-12">
        <input
          maxlength="10"
          oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)"
          type="text"
          class="form-control"
          id="askPhoneNumber1"
          name="phone"
          aria-describedby="askPhoneNumber1"
          placeholder="Phone number"
          value=""
          oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 10)"
          formControlName="phone" 
        />
        <input
          type="hidden"
          name="access_key"
          value="b2ff3560-a14d-49ef-b734-5dfabe9948ae"
        />
      </div>
      <div class="mb-3 col-12">
        <input
          type="email"
          class="form-control"
          id="askQstnEmail1"
          aria-describedby="askQstnEmailHelp"
          placeholder="Email *"
          name="email"
          formControlName="email"
          value=""
          required placeholder="Email *"
        />
      </div>
      <button
        type="submit"
        class="col-4 mx-auto btn btn-primary"
        style="
          background-color: #f96e44;
          border: none !important;
          display: flex;
          justify-content: center;
        "
      >
        Submit
      </button>
    </form>

    <div id="questionResult"></div>
  </div>
</ng-template>
</div>
