<div class="breadcrumb">
  <ol class="breadcrumb-items">
    <li class="breadcrumb-item1" [routerLink]="['/']">Home</li>
    <li>&#62;</li>
    <li class="breadcrumb-item2">Contact Us</li>
  </ol>
</div>
<div>
  <div class="row" style="margin: 0 3rem">
    <div class="col-lg-4 details" style="margin: 0px 12px">
      <div class="icon-details align-items-center">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p style="margin: 0">Email</p>
          <p [innerHTML]="'abc@gmail.com'"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 details" style="margin: 0px 12px">
      <div class="icon-details align-items-center">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p style="margin: 0">Email</p>
          <p [innerHTML]="'abc@gmail.com'"></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 details" style="margin: 0px 12px">
      <div class="icon-details align-items-center">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p style="margin: 0">Email</p>
          <p [innerHTML]="'abc@gmail.com'"></p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 details">
      <div>
        <img
          src="../../assets/Advaya_Final_Logo(SVG).svg"
          height="50px"
          width="50px"
        />
      </div>
      <div style="margin-top: 20px">
        <p style="margin: 0">Contact</p>
        <p>+91 9999900000</p>
      </div>
    </div>

    <div class="col-md-4 details">
      <div>
        <img
          src="../../assets/Advaya_Final_Logo(SVG).svg"
          height="50px"
          width="50px"
        />
      </div>
      <div>
        <p style="margin: 0">Address</p>
        <p>
          Unleash Tech Worx Pvt Ltd Spacexworks Business Services, Unit3F,
          Level3, Century Central, Kanakapura Road, Bangalore 560062
        </p>
      </div>
    </div> -->
  </div>
</div>
