.breadcrumb {
  width: 100%;
  padding: 14px 10px;
  font-family: sans-serif;
  font-size: 14px;
}

.breadcrumb-items {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumb-item1 {
  margin-right: 8px;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.breadcrumb-item1:hover {
  color: rgb(4, 132, 189);
}
.breadcrumb-item2 {
  content: ">";
  margin-left: 8px;
  color: rgb(4, 132, 189);
}

.details {
  background-color: aliceblue;
  box-shadow: 0px 0px 6px 0px #ccc;
  padding: 39px 29px;
  border-radius: 6px;
  
  height: 240px;
  display: flex;
}

.details div {
  align-items: center;
}

.map {
  width: 100%;
  padding-top: 10px;
}
.contact-icon {
  margin-right: 8px;
}
.main-accordion {
  margin-top: 80px;
}
.accordion {
  background: none;
  color: #444;
  cursor: pointer;
  padding-top: 24px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  height: 100px;
}
.active,
.accordion:hover {
  background-color: #fff !important;
}
.faq .panel p {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  /* font-weight: 700; */
  line-height: 20px;
  font-size: 13px;
}
/* Add a symbol to each button to indicate whether the collapsible content is open or closed */
.faq .accordion:after {
  content: url("https://readzle.com/images/Group%2024026.png");
  /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* .faq .active:after {
  content: url("https://readzle.com/images/Group%2024026.png");
} */
/* Unicode character for "minus" sign (-) */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

.faq {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}
.faq h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.faq h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.faq h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #000;
  line-height: 42px;
}
.faq p {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  margin-top: 24px;
}
.accordion {
  margin-top: 8px;
  font-size: 16px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: flex;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.panel.active {
  max-height: 500px; /* Adjust the height as needed */
}

.stil {
  background: #eaf2f5;
  text-align: center;
  padding: 60px 0px;
  margin-top: 50px;
  margin-bottom: 182px;
}
.stil h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 40px;
}
.stil p {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  margin-top: 12px;
}
.stil button {
  border: none;
  background: #f96e44;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  line-height: 35px;
  border-radius: 5px;
  width: 180px;
  height: 64px;
  margin-top: 48px;
}
.stil button:hover,
.stil button:focus {
  background-color: #f96e44;
  box-shadow: 0px 0px 3px #f96e44;
}

/* ///// */
@media screen and (min-width: 600px) and (max-width: 2550px) {
  .name,
  .Email,
  .message,
  .PhoneNumber {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .form-container input {
    width: 516px;
    height: 56px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: #fef1ec;
    font-size: 14px;
    padding-left: 15px;
  } 
  #message {
    background-color: #fef1ec;
    border: none;
    font-size: 14px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 520px;
    left: 800px;
    width: 556px;
    background: #fff;
    padding: 20px;
    float: right;
    margin-top: -200px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #ccc;
  }
  .details{
    margin: 12px;
  }
  .formbox {
    padding: 5px;
    border-radius: 10px;
  }
  .button {
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin-left: 430px;
    margin-top: 20px;
    background-color: orangered;
    font-size: 15px;
  }
  .form-container textarea {
    height: 150px;
    width: 516px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 17px;
  } 
  .banner-details {
    margin: 80px 100px 0px !important;
    padding: 0px 15px;
  }
  .heading1 {
    font: 18px Quicksand, sans-serif !important;
    margin: 10px 0px 0px;
    height: 42px;
  }
  .heading2 {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #000;
    margin-top: 8px;
  }
  .banner-details p {
    width: 450px;
    font-size: 18px;
    line-height: 2rem;
  }
  .banner {
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 324px;
    margin-top: 50px;
    width: 75%;
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .details {
    height: auto;
    margin: 12px;
  }
  .map {
    width: 100%;
  }
  .map > iframe {
    height: 223px;
  }
  .heading1 {
    font: 13px Quicksand, sans-serif !important;
    text-align: center;
    line-height: 36px;
    width: 100%;
  }
  .details{
    margin: 12px 0px 0px;

  }
  .heading2 {
    font-family: "Quicksand", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #000;
    margin-top: 12px;
    text-align: center;
  }
  .banner-details p {
    font: 13px DM Sans, sans-serif;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 16px;
    margin: 0;
    width: auto;
  }
  .banner {
    width: 100% !important;
    margin-top: 35px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center !important;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 30px;
    top: 670px;
    width: 350px;
    background: #fff;
    padding: 20px;
    float: right;
    margin-top: -200px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #ccc;
    height: 350px !important;
    margin-left: 15px;
  }
  .formbox {
    padding: 10px;
    border-radius: 10px;
  }
  .button {
    color: white;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-self: self-end;
    margin-top: 15px;
    background-color: orangered;
    font-size: 15px;
    margin-left: 220px;
  }
  .form-container input {
    width: 100%;
    height: 40px;

    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: #fef1ec;
    font-size: 14px;
    padding-left: 15px;
  }
  .name,
  .Email,
  .message,
  .PhoneNumber {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  #message {
    background-color: #fef1ec;
    border: none;
    font-size: 14px;
    width: 100%;
    /* margin-left: 5px; */
    height: 60px;
  }
}
