<br />
<div class="breadcrumb">
  <ol class="breadcrumb-items">
    <li class="breadcrumb-item1" [routerLink]="['/']">Home</li>
    <li>&#62;</li>
    <li class="breadcrumb-item2">Contact Us</li>
  </ol>
</div>
<div>
  <div class="row" style="padding: 20px">
    <div class="col-sm details">
      <div style="display: flex">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p style="margin: 0">Email</p>
          <p [innerHTML]="'abc@gmail.com'"></p>
        </div>
      </div>
    </div>

    <div class="col-sm details">
      <div style="display: flex">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p style="margin: 0">Email</p>
          <p [innerHTML]="'abc@gmail.com'"></p>
        </div>
      </div>
    </div>

    <div class="col-sm details">
      <div class="" style="display: flex">
        <div>
          <img
            src="../../assets/Advaya_Final_Logo(SVG).svg"
            height="50px"
            width="50px"
          />
        </div>
        <div style="margin-top: 20px">
          <p>Email <span [innerHTML]="'abc@gmail.com'"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
