
.breadcrumb {
  width: 100%;
  padding: 14px 10px;
  font-family: sans-serif;
  font-size: 14px;
}

.breadcrumb-items {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumb-item1 {
  margin-right: 8px;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.breadcrumb-item1:hover {
  color: rgb(4, 132, 189);
}
.breadcrumb-item2 {
  content: ">";
  margin-left: 8px;
  color: rgb(4, 132, 189);
}

.details {
  background-color: aliceblue;
  box-shadow: 0px 0px 6px 0px #ccc;
  padding: 39px 29px;
  border-radius: 6px;
  height: 240px;
  display: flex;
}

 .details div {
  align-items: center;
}

.map {
  width: 100%;
  padding-top: 10px;
}
/* .contact-icon {
  margin-right: 8px;
} */
.main-accordion {
  margin-top: 80px;
}
.accordion {
  background: none;
  color: #444;
  cursor: pointer;
  padding-top: 24px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  height: 100px;
}
.active,
.accordion:hover {
  background-color: #fff !important;
}
.faq .panel p {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;

  line-height: 20px;
  font-size: 13px;
}

.faq .accordion:after {
  content: url("https://readzle.com/images/Group%2024026.png");
  font-size: 10px;
  color: #777;
  float: right;
  margin-left: 5px;
}


.active,
.accordion:hover {
  background-color: #ccc;
}

.faq {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}
.faq h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.faq h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.faq h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #000;
  line-height: 42px;
}
.faq p {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  margin-top: 24px;
}
.accordion {
  margin-top: 8px;
  font-size: 16px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: flex;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.panel.active {
  max-height: 500px; /* Adjust the height as needed */
}

.stil {
  background: #eaf2f5;
  text-align: center;
  padding: 60px 0px;
  margin-top: 50px;
  margin-bottom: 182px;
}
.stil h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 40px;
}
.stil p {
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #000;
  margin-top: 12px;
}
.stil button {
  border: none;
  background: #f96e44;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
  line-height: 35px;
  border-radius: 5px;
  width: 180px;
  height: 64px;
  margin-top: 48px;
}
.stil button:hover,
.stil button:focus {
  background-color: #f96e44;
  box-shadow: 0px 0px 3px #f96e44;
}


.banner-details {
  margin-top: 80px;
}
.banner-details .contact {
  width: 450px;
}
.banner-details h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.banner-details span {
  color: #f96e44;
}
.banner-details h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin-top: 8px;
}
.banner-details p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
  margin-top: 24px;
}

.banner {
  background: url("../../assets/img/cloud4c-company-contact-1Desktop.jpg") !important;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 324px;
  margin-top: 50px;
  width: 95%;
}
.banner form {
  width: 556px;
  background: #fff;
  padding: 20px;
  float: right;
  margin-top: -200px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #ccc;
}
.banner .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin: 16px 0px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fef1ec;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.banner .d-grid {
  display: block !important;
}
.banner .d-grid button {
  float: right;
  background-color: #f96e44;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 19px;
}
.banner-mobile {
  display: none;
}

.fluid-container{
overflow-x: hidden;
}


@media (max-width: 768px) {
  .super{
    margin-right: 0px !important;
  }
  .fluid-container{
    overflow-x:visible;
    }
  .banner-details {
    margin-top: 40px;
  }
  .banner-details h2 {
    font-size: 23px;
    line-height: 15px;
    text-align: center;
    margin-top: 12px;
  }
  .banner-details p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 16px;
    margin-top: 0;
  }
  .banner-details h1 {
    font-size: 13px;
    text-align: center;
    line-height: 36px;
    width: 100%;
  }
  .banner-details .contact {
    width: 100%;
  }
  .banner-mobile {
    height: 217px;
    background: url("../../assets/img/cloud4c-company-contact-1Desktop.jpg");
    display: block;
    margin-top: 56px;
  }
  .banner-mobile .d-grid button {
    width: 173px;
    height: 40px;
    font-size: 16px;
  }
  .banner-mobile form {
    width: 100%;
    margin-top: 110px;
  }
  .banner-mobile form {
    width: 100%;
    background: #fff;
    padding: 20px;
    float: right;
    margin-top: 165px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #ccc;
  }
  .banner-mobile .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    height: 32px;
    margin: 16px 0px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fef1ec;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  ::placeholder {
    font-size: 11px;
  }
  .banner-mobile .d-grid {
    display: block !important;
  }
  .banner-mobile .d-grid button {
    float: right;
    background-color: #f96e44;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
  }
  .banner {
    /* display: none;
        */
    background-size: cover;
    width: 100%;
  }
  .banner form {
    display: block;
    width: 100%;
    margin-top: 170px;
  }


}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .banner-details {
    margin-top: 72px;
  }
  .banner-details h1 {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: left;
  }
  .banner-details p {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: left;
    margin-top: 24px;
    line-height: 25px;
    padding: 0;
  }
  .banner-details h2 {
    font-size: 33px;
    margin-bottom: 0px;
    text-align: left;
    margin-top: 16px;
  }
  .banner-details .carousel-item button {
    font-family: "Quicksand", sans-serif;
  }
  .banner-details .contact {
    width: 400px;
  }
  .banner-mobile {
    display: none;
  }
  .banner {
    height: 284px;
    display: block;
  }
  .banner form {
    width: 300px;
    background: #fff;
    padding: 20px;
    float: right;
    margin-top: -250px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #ccc;
  }
  

}


