<main>
  <div class="view-poll">
    <div class="caption">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non
        voluptatem dolore repellendus eaque fugiat, minima, iure asperiores
        ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid
        consequatur!
      </p>
    </div>
    <picture>
      <img
        src="//raw.githubusercontent.com/codrops/HoverEffectIdeas/master/img/1.jpg"
        alt=""
      />
    </picture>
  </div>
  <!-- Repeat the above .view-poll div for other items -->
  <div class="view-poll1">
    <div class="caption1">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non
        voluptatem dolore repellendus eaque fugiat, minima, iure asperiores
        ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid
        consequatur!
      </p>
    </div>
    <picture>
      <img
        src="//raw.githubusercontent.com/codrops/HoverEffectIdeas/master/img/1.jpg"
        alt=""
      />
    </picture>
  </div>
</main>
