body {
  font: 400 90%/1.5 "Source Sans Pro", sans-serif;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  margin: 6.25em auto;
  height: 2.6em;
  overflow: hidden;
  width: 100%;
}

ul,
li {
  height: 13.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-transform: uppercase;
  width: 100%;
}

.t {
  animation: titleflip 5s ease-in-out infinite;
}

@keyframes titleflip {
  0%,
  100% {
    transform: translateY(-12.5em);
  }
  20%,
  80% {
    transform: translateY(-9.375em);
  }
  40%,
  60% {
    transform: translateY(-6.44em);
  }
}

/* Gradient Background for article */
article {
  background: radial-gradient(hsl(100, 100%, 60%), hsl(200, 100%, 60%)) fixed;
  background: conic-gradient(
      hsl(100, 100%, 60%),
      hsl(200, 100%, 60%),
      hsl(100, 100%, 60%)
    )
    fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
}

picture {
  min-width: 240px;
}

picture img {
  width: 100%;
}

.view-poll {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s;
}

.view-poll:nth-of-type(even) {
  transform: translateX(100%);
}

.view-poll.in-view {
  transform: translateX(0);
  opacity: 1;
}

.view-poll picture {
  flex: 2;
}

.view-poll .caption {
  flex: 1;
  padding: 1em;
}
.view-poll1 {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s;
}

.view-poll1:nth-of-type(even) {
  transform: translateX(100%);
}

.view-poll1.in-view {
  transform: translateX(0);
  opacity: 1;
}

.view-poll1 picture {
  flex: 2;
}

.view-poll1 .caption1 {
  flex: 1;
  padding: 1em;
}
