
<div class="main-container" style="overflow: hidden;">
    <div class="top">
      <h1>KNOW US BETTER</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ea. Sunt repudiandae quo temporibus nam, vero
        sapiente ad adipisci ea eius non distinctio quaerat quod et obcaecati iusto facilis optio dolorum a hic quis
        inventore eum. Cupiditate at dicta facilis architecto reiciendis enim eius odio, doloremque magni perspiciatis.
        Veniam rerum culpa earum, est itaque deserunt distinctio, inventore adipisci atque qui sit. Rem vitae facilis
        explicabo laboriosam sint? Dolore atque voluptatibus enim ipsam provident explicabo, in et corrupti nostrum ab iste
        quod quos quae recusandae perspiciatis deserunt odio consectetur illo dolor facere! Ducimus sequi maxime magnam
        optio, suscipit sapiente iusto veritatis.
      </p>
    </div>
    
    <div class="image">
      <div class="row">
        <div class="col" style="margin-left: 50px;">
          <img src="../../assets/img3.jpeg" alt="Image" height="275" width="95%" style="border-radius: 10px;height: 250px;">
        </div>
        <div class="col">
          <h1>image title goes here</h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non voluptatem dolore repellendus eaque
            fugiat, minima, iure asperiores ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid consequatur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non voluptatem dolore repellendus eaque
            fugiat, minima, iure asperiores ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid consequatur! <br>
          </p>
        </div>
      </div>
    </div>
    
    <div class="image">
      <div class="row">
        <div class="col" style="margin-left: 50px;">
          <img src="../../assets/img3.jpeg" alt="Image" height="150px" width="95%" style="border-radius: 10px;height: 250px;">
        </div>
        <div class="col">
          <h1>image title goes here</h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non voluptatem dolore repellendus eaque
            fugiat, minima, iure asperiores ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid consequatur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non voluptatem dolore repellendus eaque
            fugiat, minima, iure asperiores ratione eum ea magni ex. Aut aperiam rem incidunt vero aliquid consequatur! <br>
          </p>
        </div>
      </div>
    </div>
    
    <div class="whyady">
      <h1>WHY ADVAYA?</h1>
      <p class="p3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Corporis, qui? Nemo maiores quisquam laudantium et
        itaque animi exercitationem omnis sequi perferendis amet <br> saepe, optio inventore provident reiciendis culpa
        ipsum consequatur repudiandae voluptates eaque quia! <br> Eum ipsam aperiam magni quam! Ullam, delectus sequi
        voluptates dolorem.
      </p>
    </div>
    
    <div class="logos">
      <img src="../../assets/Advaya_Final_Logo(SVG).svg" alt="Logo" height="100">
      <img src="../../assets/Advaya_Final_Logo(SVG).svg" alt="Logo" height="100">
      <img src="../../assets/Advaya_Final_Logo(SVG).svg" alt="Logo" height="100">
      <img src="../../assets/Advaya_Final_Logo(SVG).svg" alt="Logo" height="100">
    </div>
    </div>